---
type FaqItem = {
  q: string;
  a: string;
};

interface Props {
  items: FaqItem[];
}

const { items } = Astro.props;
---

<div class="faq-list">
  {items.map((item) => (
    <details>
      <summary>{item.q}</summary>
      <p>{item.a}</p>
    </details>
  ))}
</div>
