---
interface Props {
  name:
    | 'rocket'
    | 'workflow'
    | 'plug-zap'
    | 'shield-check'
    | 'atom'
    | 'server'
    | 'container'
    | 'cloud';
  size?: number;
  title?: string;
  class?: string;
}

const { name, size = 24, title = '', class: className = '' } = Astro.props;

const paths: Record<Props['name'], string> = {
  rocket:
    '<path d="M4.5 16.5c-1.5 1.26-2 4-2 4s2.74-.5 4-2c1.17-1.4 1.12-3.38.5-4.5-1.12-.62-3.1-.67-4.5.5Z"></path><path d="m12 15-3-3a11 11 0 0 1 11-11 11 11 0 0 1-8 8Z"></path><path d="M9 12 4 7"></path><path d="m14 3 7 7"></path>',
  workflow:
    '<rect x="3" y="3" width="5" height="5" rx="1"></rect><rect x="16" y="3" width="5" height="5" rx="1"></rect><rect x="16" y="16" width="5" height="5" rx="1"></rect><path d="M8 5h4a4 4 0 0 1 4 4"></path><path d="M16 19h-4a4 4 0 0 1-4-4V8"></path>',
  'plug-zap':
    '<path d="M12 12v10"></path><path d="M8 8h8"></path><path d="M8 8a4 4 0 0 0 8 0V2"></path><path d="M10 2v6"></path><path d="M14 2v6"></path><path d="m18 13-2 2h3l-2 2"></path>',
  'shield-check':
    '<path d="m12 3 8 4v6c0 5-3.4 7.9-8 9-4.6-1.1-8-4-8-9V7l8-4Z"></path><path d="m9 12 2 2 4-4"></path>',
  atom:
    '<circle cx="12" cy="12" r="1.5"></circle><path d="M20.2 20.2c2.6-2.6 1.2-8.2-3-12.4s-9.8-5.6-12.4-3-1.2 8.2 3 12.4 9.8 5.6 12.4 3Z"></path><path d="M3.8 20.2c-2.6-2.6-1.2-8.2 3-12.4s9.8-5.6 12.4-3 1.2 8.2-3 12.4-9.8 5.6-12.4 3Z"></path><path d="M12 2v20"></path>',
  server:
    '<rect x="3" y="4" width="18" height="6" rx="2"></rect><rect x="3" y="14" width="18" height="6" rx="2"></rect><path d="M7 7h.01"></path><path d="M7 17h.01"></path><path d="M11 7h3"></path><path d="M11 17h3"></path>',
  container:
    '<path d="m3 8 9-5 9 5-9 5-9-5Z"></path><path d="M3 8v8l9 5 9-5V8"></path><path d="M12 13v8"></path>',
  cloud: '<path d="M6 19a4 4 0 1 1 .9-7.9A5 5 0 0 1 19 12a3.5 3.5 0 1 1-.5 7H6Z"></path>',
};

const iconPath = paths[name];
---

<svg
  class:list={['lucide-icon', className]}
  xmlns="http://www.w3.org/2000/svg"
  width={size}
  height={size}
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  aria-hidden={title ? 'false' : 'true'}
  role={title ? 'img' : 'presentation'}
>
  {title && <title>{title}</title>}
  <g set:html={iconPath} />
</svg>
